<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="GamerTagDBConnectionString" connectionString="Server=tcp:gamertagserver.database.windows.net,1433;Database=GamerTag_db;User ID=ethanx94@gamertagserver;Password=YvgmiHb6;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
</connectionStrings>
